<main>
  <h3>Generate a custom menu item</h3>
  <label for="theme">Suggest a menu item for a restaurant with this theme: </label>
  <input type="text" id="theme" [(ngModel)]="menuInput" />
  <br />
  <br />
  <button (click)="generateMenuItem()" [disabled]="menuResource.isLoading() || isStreaming()">
    Generate
  </button>
  <button (click)="streamMenuItem()" [disabled]="menuResource.isLoading() || isStreaming()">
    Stream Generation
  </button>
  <br />

  @if (isStreaming()) {
  <div>Streaming...</div>
  } @else if (menuResource.isLoading()) {
  <div>Loading...</div>
  } @if (streamedText()) {
  <div>
    <h4>Streaming Output:</h4>
    <pre>{{ streamedText() }}</pre>
  </div>
  } @else if (menuResource.value() && menuResource.value().menuItem) {
  <div>
    <h4>Generated Menu Item:</h4>
    <pre>{{ menuResource.value().menuItem }}</pre>
  </div>
  }
</main>
